body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-image: url('../images/darkknight.png');
  background-size: cover;
}

* {
  /* 
    当单词超过容器宽度时，强制折断单词到下一行
    对中文无效
   */
  word-break: break-all;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

main .input-group {
  margin-top: 1rem;
}

main > div {
  width: 30rem;
  box-shadow: 0px 0px 1rem #ffffff !important;
}
