.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont'; /* project id 1248655 */
  src: url('//at.alicdn.com/t/font_1248655_ekdrbck9p8t.eot');
  src: url('//at.alicdn.com/t/font_1248655_ekdrbck9p8t.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1248655_ekdrbck9p8t.woff2') format('woff2'), url('//at.alicdn.com/t/font_1248655_ekdrbck9p8t.woff') format('woff'), url('//at.alicdn.com/t/font_1248655_ekdrbck9p8t.ttf') format('truetype'), url('//at.alicdn.com/t/font_1248655_ekdrbck9p8t.svg#iconfont') format('svg');
}
