body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-size: cover;
  transition: background-image 1s;
  color: #ffffff;
}

main {
  height: 100vh;
  background-color: rgba(38, 38, 38, 0.5);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  font-size: 2rem;
}
.top-nav img {
  height: 3.2rem;
}
