/* iconfont.css */
.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont'; /* project id 1107880 */
  src: url('//at.alicdn.com/t/font_1107880_pklz2srsqmf.eot');
  src: url('//at.alicdn.com/t/font_1107880_pklz2srsqmf.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1107880_pklz2srsqmf.woff2') format('woff2'), url('//at.alicdn.com/t/font_1107880_pklz2srsqmf.woff') format('woff'), url('//at.alicdn.com/t/font_1107880_pklz2srsqmf.ttf') format('truetype'), url('//at.alicdn.com/t/font_1107880_pklz2srsqmf.svg#iconfont') format('svg');
}
