/* 
  首页样式
 */

.title {
  animation: title-color 5s infinite ease-in-out;
}

/* 头的动画效果 */
@keyframes title-color {
  0% {
    text-shadow: 0px 0px 0rem #00ff00;
  }
  10% {
    text-shadow: 0px 0px 2rem #00ff00;
  }
  20% {
    text-shadow: 0px 0px 0rem #00ffff;
  }
  30% {
    text-shadow: 0px 0px 2rem #00ffff;
  }
  40% {
    text-shadow: 0px 0px 0rem #ff0000;
  }
  50% {
    text-shadow: 0px 0px 2rem #ff0000;
  }
  60% {
    text-shadow: 0px 0px 0rem #ff00ff;
  }
  70% {
    text-shadow: 0px 0px 2rem #ff00ff;
  }
  80% {
    text-shadow: 0px 0px 0rem #ffaa00;
  }
  90% {
    text-shadow: 0px 0px 2rem #ffaa00;
  }
  100% {
    text-shadow: 0px 0px 0rem #00ffff;
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem;
}

.links {
  display: flex;
  width: 1000px;
  margin: 0px auto;
}

.links > div .iconfont {
  font-size: 15rem;
}

.links > div > div {
  font-size: 2rem;
  font-weight: bold;
}

.links > div {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

.links > div:hover {
  cursor: pointer;
  animation: icon-color 0.5s infinite;
}

@keyframes icon-color {
  0% {
    transform: rotate(0deg);
    text-shadow: 0px 0px 0rem #00f7ff;
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
    text-shadow: 0px 0px 5rem #00f7ff;
  }
}
