body {
  background-image: url('../images/bg0003.png');
  background-size: cover;
}
main {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

main > div {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0.3rem #0000aa;
}

.form-group {
  border: 2px solid #aaaaaa;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #aaaaaa;
}

.form-group:focus-within {
  border-color: #6363f3;
}

.form-group input,
.form-group select {
  outline: none;
  border: 0px;
  font-size: 1rem;
  width: 20rem;
}

.pd10 {
  padding: 10px;
}
/* 自定义按钮样式 */
.mybtn {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 2px;
  transition: all 0.5s;
  background-color: #03bbf3;
  color: #ffffff;
}

.mybtn:hover {
  background-color: #0099c0;
  cursor: pointer;
}
