.info {
  width: 800px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.info img {
  width: 5rem;
  border-radius: 50%;
  border: 1px solid #ff0000;
}

.info > div {
  display: flex;
  align-items: center;
}

#divInfo {
  height: 30rem;
  /* 
    overflow是控制滚动条是否显示
    auto表示自动（内容没有超出就不出现，否则出现）
    hidden表示不要出现 
   */
  overflow: auto;
}

.bj-color {
  color: #ff0000;
  font-weight: bold;
}
