input {
  outline: none;
  border-color: #0000ff;
}
.error {
  border-color: #ff0000;
}
/* 
  第一个游戏
  想一个1-100的数
  计算机会猜你想的数是什么
  如果猜错了，只需要告诉计算机是猜大了还是小了
  那么计算机最多7次必然猜正确
  思考如果是1-1000的数，计算机需要多少次？
  第二个游戏
  一共21根火柴，每次只能拿走1-4的火柴数
  人先拿，计算机后拿，拿到最后一根火柴的输
  计算机通过特殊的拿法确保自己能赢
*/
