/* 
伪类都是作用在选择器的后面，一般是一个或者两个:定义
选择器:伪类
选择器::伪类
例如
  div:hover表示div鼠标悬停
  .div:hover表示class为div的元素鼠标悬停
  #div:focus-within表示当id为div的元素中有元素获得焦点
*/
.wl01:hover {
  /* hover:鼠标悬停（手机版会变成点击还没有松开时） */
  cursor: pointer;
  color: #0000ff;
  border: 1px solid #000000;
}

.wl02 {
  padding: 1rem;
  border: 10px solid transparent;
}

.wl02 input {
  /* outline: none; */
  /* border-width: 0px; */
}

.wl02:focus-within {
  /* focus-within，元素里面有焦点（一般只有输入元素） */
  border: 10px solid #0000ff;
  /* border-color: #ff0000; */
  border-radius: 0.2rem;
}
.ahref a {
  text-decoration: none;
}
.ahref a::after {
  /* 
    after表示在元素的后面
    content表示内容
   */
  content: '|';
}
.div-before > div::before {
  /* before表示在元素的前面 */
  content: '·';
}

.div-ba span::before {
  content: '-->';
}

.div-ba span::after {
  content: '<--';
}

.div-ba span {
  margin: 0px 0.2rem;
}

.div-chi span:last-child {
  /* last-child：子元素中的最后一个 */
  border: 1px solid #ff0000;
}

.div-chi span:first-child {
  /* first-child：子元素中的第一个 */
  border: 1px solid #0000ff;
}

.div-chi span:nth-child(3) {
  /* nth-child(序号)：序号指定的子元素 */
  color: #abcdef;
  font-family: '隶书';
}
.div-chi span:nth-child(2) {
  color: #123456;
}

.div-not span:not(:first-child) {
  /* 
    not()，将结果取反 
    not(:first-child)表示不是第一个的
  */
  border: 1px solid #ff0000;
}

.div-show span:first-child {
  /* 
  top-left上左圆角
  bottom-left下左圆角
  top-right上右圆角
  bottom-right下右圆角
  */
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.div-show span:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.div-show span:not(:first-child) {
  /* 除了第一个span，其它的都去掉左边框 */
  border-left-width: 0px;
}

.div-show span {
  border: 1px solid #ff0000;
  display: inline-block;
  padding: 0.5rem;
}

.div-show {
  margin: 1rem;
}
